body{
  /*width: 50%;*/
  color: red;
  background-color: black;
}

/*p{
  margin: 300px;
  left: 200px;
}

img{
  max-width: 800px;
  max-height: 800px;
}

#sampleImage{
  position: absolute;
  left: -200px;
  min-height: 600px;
}

.overlap{
  position: fixed;
  top: 0px;
  right: 200px;
}
*/
/*
.overlap h1{
  z-index: 1; both default to 0, so we need 1 here to bring it 'higher' up on the on the z-axis
}
*/
#wrapper{
  width: 1500px;
  margin: -20px auto;
  background-color: white;
}

#header{
  text-align: center;
  color: green;
  height: 75px;
}

#navigation{
  float: left;
  height: 800px;
  background-color: blue;
  width: 300px;
}

#mainBody{
  float: left;
  height: 800px;
  background-color: green;
  width: 1200px;
}

#footer{
  text-align: center;
  background-color: orange;
  height: 75px;
  clear: both;
}
