.p1, .p3{
	color: green;
}

.p2, .p4{
	color: blue;
}

.div1{
		color: purple;
}

#img1{
	width: 50%;

}

#img2{
	max-height: 200px;
}

#para1{
	position: absolute;
	left: 600px;
	bottom: 200px;
}

#para2{
	position: fixed;
	top: 50%;
	right: 0px:
}

#para3{
	position: relative;
	left: 50px;
	top: 150px;
}
